#app[theme="default"]{
  --block-background: #FFFFFF;
  --block-body-background: #E0E0E0;
  --block-input-background: #cccccc;
  --block-border: #D2D2D2;

  --button-background: #A0A0A0;
  --button-hover-background: #808080;
  --button-icon-color: #FFFFFF;

  --scroll-track: #00000000;
  --scroll-thumb: #303030;

  --text-color: #000000;
  --text-invert-color: #ffffff;
  --text-link-color: #A04040;
  --text-link-hover-color: #ff8080;
  --hr-color: black;

  --list-items-background: #b0b0b0;
  --list-items-hover-background: #a0a0a0;
}
#app[theme="logicWorld"]{
  --block-background: #414141;
  --block-body-background: #5A5A5A;
  --block-input-background: #cccccc;
  --block-border: #2D2D2D;

  --button-background: #1D7CEA;
  --button-hover-background: #3f92f3;
  --button-icon-color: #FFFFFF;

  --scroll-track: #282C34;
  --scroll-thumb: #5A5A5A;

  --text-color: #ffffff;
  --text-invert-color: #000000;
  --text-link-color: #ff8080;
  --text-link-hover-color: #ff4040;
  --hr-color: white;

  --list-items-background: #474747;
  --list-items-hover-background: #336093;
}




















