.mark-down{
  font-size: 16px;
  * {
    margin-top: 5px;
  }

  blockquote{
    border:{
      left: 10px solid #c0c0c0;
    }
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #808080a0;
    img{
      max-width: 25%;
    }
  }

  pre{
    background: #808080;
    padding: 5px;
    border-radius: 5px;
  }

  h1,h2,h3,h4,h5,h6{
    margin-bottom: 10px;
  }

  p{
    margin-bottom: 5px;
  }

  table{
    border: 1px solid #ffffff;
    border-collapse: collapse;

    tr{
      border-bottom: 1px solid #ffffff;
    }
    th{
      border-left: 1px solid #ffffff;
      text-align: center;
      padding: 2px 4px;
    }
    td{
      border-left: 1px solid #ffffff;
      text-align: center;
      padding: 2px 4px;
    }
  }

  ul{
    li{
      margin-left: 20px;
    }
  }

  ol{
    li{
      margin-left: 20px;
    }
  }

  img{
    max-width: 50%;
  }

  a{
    color: #ff8989;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}